/* 公共样式 */
    /* 长条横图 */
.bigAd{width:1226px;height:120px;margin:28px auto;overflow: hidden;}
.bigAd img{width:1226px;height:120px;}
.common{width:1226px;margin:0 auto;}
.boxShadow{transition:all 0.5s linear;}
.boxShadow:hover{transform:translate3D(0,-2px,0);box-shadow:0 15px 30px rgba(0,0,0,0.1);transition:all 0.5s linear;}
a{transition:all .5s linear;}
video{width:200px;height:100px;}
.video1{display:none;position: fixed;width:inherit;height:inherit;background:#fff;left:50%;top:50%;transform:translate(-50%,-50%)}
.m{width: 740px; height: 400px; margin-left: auto; margin-right: auto; margin-top: 100px;}


/* 页头 */
header{background:#333;}
header a:hover{color:#fff;}
header>div{height:40px;width:1226px;margin:0 auto;}
header>div>ul{float:left;}
header>div>ol{float:right;}
header>div>ul>li{float:left;padding:0 6px 0 6px;margin-top:13px;border-right:1px solid #424242;}
header>div>ul>li:first-of-type{padding-left:5px;}
header>div>ul>li:last-of-type{padding-right:0;border-right:0;}
header>div>ol>li{text-align:center;float:left;margin-top:13px;padding:0 12px 0 12px;}
header>div>ol>li{border-right:1px solid #424242;}
header>div>ol>li.userInfo{position: relative;display:none;}
header>div>ol>li.userInfo>ul{position:absolute;width:100%;text-align: center;}
header>div>ol>li:nth-of-type(3){border-right:0}
header>div>ol>li:last-of-type{position:relative;padding-right:16px;border-left:1px solid rgba(0,0,0,0);background:#424242;height:40px;margin-top:0px;line-height:40px;border-right:0;}
header>div>ol>li:last-of-type>.toBarShopCart{display:none;line-height:60px;box-shadow: 0 2px 10px rgba(0,0,0,0.15);text-align:center;color:#333;width:300px;height:80px;position:absolute;background:#fff;right:-1px;top:40px;z-index:4;}

/* 搜索栏 */
#searchBar{height:100px;position: relative;}
#searchBar>.box>a{float:left;margin:20px 0 0 3px;  width: 55px;height: 55px;overflow: hidden;background: #ff6700 url(../image/header&footer/mi-logo.png) 3px 4px no-repeat;}
#searchBar>.box>span{float:left;width:156px;height:100px;}
#searchBar>.box>ul{float:left;margin:0px 11px 0 0px;height:100px;line-height:100px;}
#searchBar>.box>ul>li{padding:0 10px;float:left;height:100px;}
#searchBar>.box>ul>li>a{font-size:16px;color:#424242;}
#searchBar>.box>ul>li>a:hover{color:#ff6700;}
#searchBar>.box>form{position:relative;float:left;margin-top:25px;background:green;font-size:0;width:304px;margin-left:80px;}
#searchBar>.box>form>input{vertical-align:top;}
#searchBar>.box>form>input:first-of-type{width:247px;height:52px;box-sizing: border-box;background:#fff;border:1px solid #f0f0f0;outline:none;}
#searchBar>.box>form>input:last-of-type{transition:all 0.25s linear;width:57px;height:52px;box-sizing: border-box;background:#fff;border:1px solid #f0f0f0;border-left:0;color:#424242;font-size:16px;font-weight:bold;cursor:pointer;}
#searchBar>.box>form>input:last-of-type:hover{background:#ff6700;color:#fff;transition:all 0.25s linear;}
#searchBar>.box>form>a{display:block;position:absolute;height:18px;padding: 0 5px;font-size: 12px;background: #eee;color: #757575;}
#searchBar>.box>form>a:first-of-type{left:140px;top:17px;}
#searchBar>.box>form>a:last-of-type{left:183px;top:17px;}
#searchBar>.box>form>a:hover{background:#ff6700;color:#fff;transition:all 0.25s linear;}
#searchBar>.box>form>.proList{display:none;position:absolute;top:52px;left:0;width:302px;background:#fff;z-index: 20;border: 1px solid #ff6700;border-top: 0;}
#searchBar>.box>form>.proList>li{padding:6px 15px;height:16px;cursor:pointer;}
#searchBar>.box>form>.proList>li:hover{background:rgba(0,0,0,0.1);transition:all 0.25s linear;}
#searchBar>.box>form>.proList>li>a>.protitle{float:left;color: #333;}
#searchBar>.box>form>.proList>li>a>.proNum{float:right;color: #b0b0b0;}
#searchBar>.container{display:none;box-shadow: 0 3px 4px rgba(0,0,0,0.18);width:100%;position: absolute;top: 100px;left: 50%;transform:translateX(-50%);background:red;z-index: 24;width: 100%;height: 229px;border-top: 1px solid #e0e0e0;background: #fff;}
#searchBar>.container>.box{margin: 0 auto;padding: 0;width:1226px;overflow:hidden;}
#searchBar>.container>.box>ul{margin-left:-1224px;list-style-type: none;font-size: 12px;height:210px;text-align:center;width:9792px;}
#searchBar>.container>.box>ul>li{position: relative;float: left;width: 180px;padding: 35px 12px 0;text-align: center;}
#searchBar>.container>.box>ul>li>.figure{width: 160px;height: 110px;margin: 0 auto 16px;text-align: center;}
#searchBar>.container>.box>ul>li>.figure>a>img{width: 160px;height: 110px;}
#searchBar>.container>.box>ul>li>.title{margin: 0;line-height: 20px;}
#searchBar>.container>.box>ul>li>.title>a{color: #333;}
#searchBar>.container>.box>ul>li>.price{margin: 0;line-height: 20px;color: #ff6700;}
#searchBar>.container>.box>ul>li>.hot{width:66px;height:22px;position:absolute;left:50%;transform:translateX(-50%);top:0;border:1px solid #ff6700;text-align:center;line-height:22px;color:#ff6700;}

/* 轮播图和二级菜单 */
.banner{height:460px;position:relative;width:1226px;margin:0 auto;}
.banner>ul{position:absolute;width:234px;height:460px;background:rgba(0,0,0,0.6);box-sizing: border-box;padding:20px 0px 0 0px;z-index:23;}
.banner>ul>li{padding:15px 21px 15px 31px ;height:12px;font-size:0;cursor: pointer;}
.banner>ul>li>a{font-size:12px;color:#fff;}
.banner>ul>li>a:first-of-type{margin-right:15px;}
.banner>ul>li>a:last-of-type{float:right;font-weight:bold;font-size:14px;margin-top:-1px;}
.banner>ul>li:hover{background:#ff6700;color:#fff;transition:all 0.25s linear;}
.banner>ul>li:hover>div{display:block;}
.banner>ul>li>div{width: 992px;overflow:hidden;display: none;position: absolute;left: 234px;top: 0;z-index: 24;height: 458px;border: 1px solid #e0e0e0;border-left: 0;background: #fff;box-shadow: 0 8px 16px rgba(0,0,0,0.18);}
.banner>ul>li:nth-of-type(3)>div,.banner>ul>li:nth-of-type(5)>div,.banner>ul>li:nth-of-type(6)>div,.banner>ul>li:nth-of-type(9)>div{width:512px}
.banner>ul>li:nth-of-type(7)>div,.banner>ul>li:nth-of-type(8)>div,.banner>ul>li:nth-of-type(10)>div{width:752px}
.banner>ul>li>div>ul{height: 458px;margin: 0;padding: 2px 0;list-style-type: none;}
.banner>ul>li>div>ul>li{position: relative;float: left;width: 240px;height: 76px;}
.banner>ul>li>div>ul>li>a{display: block;padding: 18px 20px;line-height: 40px;color: #333;transition: color .2s;}
.banner>ul>li>div>ul>li>a>img{margin-right: 12px;vertical-align: middle;width: 40px;height: 40px;line-height: 40px;}
.banner>ul>li>div>ul>li>a>span{line-height: 40px;color: #333;cursor: pointer;}
.banner>ul>li>div>ul>li>a>span:hover{color:#ff6700}
.banner>.myBanner{width:1226px;height:460px;position: relative;}

.myBanner>a{transition:all 0s;width:1226px;height:460px;display: inline-block;position:absolute;top:0;left:0;z-index:-1;overflow:hidden;}
.myBanner>a:first-of-type{z-index:1;}
.myBanner>a>img{width: 1226px;height: 460px;}
.myBanner>.bannerLeft{position: absolute;left:234px;top: 50%;text-align:center;font-size:40px;z-index:10;line-height:69px;z-index: 9;width: 41px;height: 69px;margin-top:-35px;display: block;color:#999;}
.myBanner>.bannerRight{position: absolute;right:0;top: 50%;text-align:center;font-size:40px;line-height:69px;z-index: 9;width: 41px;height: 69px;margin-top:-35px;display: block;color:#999;}
.myBanner>span:hover{background:rgba(0,0,0,0.3);color:#fff;cursor:pointer;transition:all 0.25s linear;}
.myBanner>p{position:absolute;bottom:20px;right:25px;z-index:10;}
.myBanner>p>span{display:inline-block;border-radius:50%;height:6px;width:6px;font-size:0;margin: 0 5px;border: 2px solid #fff;border-color: rgba(255,255,255,0.3);text-align: left;overflow: hidden;background: rgba(0,0,0,0.4);}
.myBanner>p>span:hover{transition: all .2s;background: #fff;background: rgba(255,255,255,0.4);border-color: #757575;border-color: rgba(0,0,0,0.4);}
.myBanner>p>span.active{transition: all .2s;background: #fff;background: rgba(255,255,255,0.4);border-color: #757575;border-color: rgba(0,0,0,0.4);}
/* 轮播图下方广告 */
.ad{height:170px;margin-top:20px;width:1226px;margin:0 auto;margin-top:14px;}
.ad>div{width:235px;height:170px;background:#5f5750;box-sizing: border-box;padding:5px 5px 0 2px;}
.ad>div>div{width:71px;height:71px;float:left;margin-right:5px;box-sizing: border-box;text-align:center;}
.ad>div>div>a{height:12px;font-size:12px;color: rgba(255,255,255,0.7);}
.ad>div>div>a:hover{color:#fff;}
.ad>div>div>a:first-of-type{margin:13px  0 26px 0;display: block;}
.ad>div>div:nth-of-type(1){margin-bottom:15px;border-right:1px solid #665e57;border-bottom:1px solid #665e57;}
.ad>div>div:nth-of-type(2){margin-bottom:15px;border-right:1px solid #665e57;border-bottom:1px solid #665e57;border-left:1px solid #665e57;border-bottom:1px solid #665e57;}
.ad>div>div:nth-of-type(3){margin-bottom:15px;border-left:1px solid #665e57;border-bottom:1px solid #665e57;}
.ad>div>div:nth-of-type(4){margin-bottom:15px;border-right:1px solid #665e57;border-top:1px solid #665e57;}
.ad>div>div:nth-of-type(5){margin-bottom:15px;border-right:1px solid #665e57;border-top:1px solid #665e57;border-left:1px solid #665e57;}
.ad>div>div:nth-of-type(6){margin-bottom:15px;border-left:1px solid #665e57;border-top:1px solid #665e57;}
.ad>div,.ad>a{float:left;margin-right:14px;}
.ad>a>img{width: 316px;height: 170px;}
.ad>a:last-of-type{margin-right:0;}

/* 主要内容 */
.main{background:#f4f7fe;padding-top:0.1px;}
.main>#phone{margin-top:20px;}
.main>#phone:after{content:"";display: block;clear:both;}
.main .title{height:40px;line-height:40px;}
.main .title>h2{font-weight:normal;font-size:22px;float:left;color:#333;}
.main .title>.more{float:right;color:#424242;font-size:16px;cursor:pointer;}
.main .title>.more:hover{color:#ff6700;}
.main .title>.moreList{float:right;color:#424242;font-size:16px;cursor:pointer;}
.main .title>.moreList>li{margin-left:30px;float:left;height:35px;transition:color .5s linear;border-bottom:2px solid rgba(255,255,255,0);}
.main .title>.moreList>li.active{color:#ff6700;border-bottom-color:#ff6700;transition:all .5s linear;}
.main .title>.more>span{display: inline-block;vertical-align:center;background:#b0b0b0;height:20px;width:20px;border-radius:50%;margin-left:8px;line-height:20px;text-align: center;color:#fff;font-weight:bold;}
.main .title>.more:hover>span{background:#ff6700;}
.main .container{margin-top:10px;}
.main .container:after{content:"";display:block;clear:both;}
.main .container>.leftShow{float:left;width:234px;height:628px;}
.main .container>.leftShow>.leftShowBig>a>img{height:614px;width:234px;}
.main .container>.leftShow>.leftShowSmall{margin-bottom:14px;}
.main .container>.leftShow>.leftShowSmall>a>img{height:300px;width:234px;}
.main .container>.rightShow{display:none;float:right;width:992px;height:628px;}
.main .container>.rightShow.active{display:block;}
.main .container>.rightShow>.rightShowMiddle{position:relative;width:234px;height:300px;float:left;background:#fff;text-align: center;margin:0 0 14px 14px;}
.main .container>.rightShow>.rightShowMiddle>.figure{margin:16px auto;width:160px;height:160px;}
.main .container>.rightShow>.rightShowMiddle>.figure>a>img{width:160px;height:160px;}
.main .container>.rightShow>.rightShowMiddle>.title{height:12px;line-height:12px;}
.main .container>.rightShow>.rightShowMiddle>.title>a{color:#333;}
.main .container>.rightShow>.rightShowMiddle>.des{white-space: nowrap;height:12px;line-height:12px;font-size:12px;color:#b0b0b0;margin:5px 0 10px 0;}
.main .container>.rightShow>.rightShowMiddle>.rec{white-space: nowrap;height:12px;line-height:12px;font-size:12px;color:#b0b0b0;margin:5px 0 10px 0;}
.main .container>.rightShow>.rightShowMiddle>.price{font-size:12px;color:#ff6700;margin:20px 0 20px 0;}
.main .container>.rightShow>.rightShowMiddle>.price>del{color:#b0b0b0}
.main .container>.rightShow>.rightShowMiddle>.comment{text-align:left;position:absolute;bottom:0;left:0;width:234px;height:0px;overflow:hidden;background:#ff6700;color:#fff;}
.main .container>.rightShow>.rightShowMiddle>.comment>.review{margin:15px 30px;}
.main .container>.rightShow>.rightShowMiddle>.comment>.author{margin:0 30px;margin-top:10px;color:rgba(255,255,255,0.6)}
.main .container>.rightShow>.rightShowMiddle:hover>.comment{height:90px;transition:height 0.25s linear;}
.main .container>.rightShow>.rightShowMiddle>.hot{width:64px;height:20px;color:#fff;line-height:20px;text-align:center;background:#e53935;position:absolute;top:0;left:50%;transform:translateX(-50%);z-index:2}
.main .container>.rightShow>.rightShowMiddle>.new{width:64px;height:20px;color:#fff;line-height:20px;text-align:center;background:#83c44e;position:absolute;top:0;left:50%;transform:translateX(-50%);z-index:1}
.main .container>.rightShow>.rightShowSmall{width:234px;height:143px;float:left;background:#fff;margin:0 0 14px 14px;padding:30px 14px 0 0px;;box-sizing: border-box;}
.main .container>.rightShow>.rightShowSmall>.figure{float:right;margin-right:15px;}
.main .container>.rightShow>.rightShowSmall>.figure>a>img{width:80px;height:80px;}
.main .container>.rightShow>.rightShowSmall>.title,.main .container>.rightShow>.rightShowSmall>.price{margin-left:40px;height:26px;line-height:26px;font-size:12px;cursor:pointer;}
.main .container>.rightShow>.rightShowSmall>.title{color:#333;}
.main .container>.rightShow>.rightShowSmall>.price{color:#ff6700;}
.main .container>.rightShow>.rightShowSmall>.readFigure{float:right;margin-right:15px;}
.main .container>.rightShow>.rightShowSmall>.readTitle,.main .container>.rightShow>.rightShowSmall>.readhot{margin-left:40px;height:26px;line-height:26px;font-size:12px;cursor:pointer;}
.main .container>.rightShow>.rightShowSmall>.readTitle>a{color:#333;}
.main .container>.rightShow>.rightShowSmall>.readhot>a{color:#757575;}

.main>#recommend>.title{height:58px;line-height:58px;}
.main>#recommend>.title>h2{float:left;}
.main>#recommend>.title>.move{float:right;height:58px;line-height:58px;font-size: 0;}
.main>#recommend>.title>.move>span{font-weight:bold;cursor:pointer;width: 24px;box-sizing:border-box;color: #b0b0b0;height: 16px;padding: 3px 5px;border: 1px solid #e0e0e0;font-size: 16px;line-height: 16px;}
.main>#recommend>.title>.move>span:hover{color:#ff6700;transition:all 0.5s linear;}
.main>#recommend>.recContainer{height:320px;overflow:hidden;width:1226px;}
.main>#recommend>.recContainer>ul{height:320px;width: 4960px;margin-left:-1254px;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle{position:relative;width:234px;height:300px;float:left;background:#fff;text-align: center;margin:0 0 14px 14px;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.figure{margin:16px auto;width:160px;height:160px;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.figure>a>img{width:160px;height:160px;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.title{height:12px;line-height:12px;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.title>a{color:#333;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.des{white-space: nowrap;height:12px;line-height:12px;font-size:12px;color:#b0b0b0;margin:10px 0 10px 0;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.rec{white-space: nowrap;height:12px;line-height:12px;font-size:12px;color:#b0b0b0;margin:10px 0 10px 0;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.price{font-size:12px;color:#ff6700;margin:20px 0 20px 0;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.comment{text-align:left;position:absolute;bottom:0;left:0;width:234px;height:0px;overflow:hidden;background:#ff6700;color:#fff;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.comment>.review{margin:15px 30px;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.comment>.author{margin:0 30px;margin-top:10px;color:rgba(255,255,255,0.6)}
.main>#recommend>.recContainer>ul>li.rightShowMiddle:hover>.comment{height:90px;transition:height 0.25s linear;}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.hot{width:64px;height:20px;color:#fff;line-height:20px;text-align:center;background:#e53935;position:absolute;top:0;left:50%;transform:translateX(-50%);z-index:2}
.main>#recommend>.recContainer>ul>li.rightShowMiddle>.new{width:64px;height:20px;color:#fff;line-height:20px;text-align:center;background:#83c44e;position:absolute;top:0;left:50%;transform:translateX(-50%);z-index:1}

.main>#hotComment>ul{height:415px;margin-top:10px;}
.main>#hotComment>ul>li{position: relative;float: left;width: 296px;height: 415px;margin-right:14px;margin-bottom: 14px;background: #fff;}
.main>#hotComment>ul>li:last-of-type{margin-right:0;}
.main>#hotComment>ul>li>.figure{width: 296px;height: 220px;margin: 0 0 28px;}
.main>#hotComment>ul>li>.figure>a>img{width: 296px;height: 220px;}
.main>#hotComment>ul>li>.des{height: 72px;margin: 0 28px 22px;font-size: 14px;line-height: 24px;font-weight: 400;overflow: hidden;}
.main>#hotComment>ul>li>.des>a{font-size: 14px;font-weight: 400;overflow: hidden;color:#333;}
.main>#hotComment>ul>li>.author{position: relative;height: 18px;margin: 0 28px 8px;padding: 0 10px 0 0;font-size: 12px;color: #b0b0b0;}
.main>#hotComment>ul>li>.product{height:22px;line-height:22px;margin: 0 30px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.main>#hotComment>ul>li>.product>.title{height:22px;line-height:22px;display: inline-block; margin: 0;font-size: 14px;font-weight: 400;max-width: 170px; vertical-align: top;color: #333;padding-right:10px;margin-right:10px;border-right:1px solid #b0b0b0;}
.main>#hotComment>ul>li>.product>.price{display: inline;margin: 0;color: #ff6700;}

.main>#content>.title{height:50px;}
.main>#content>ul{ width: 1240px;height: 440px;margin: 0;padding: 0;list-style-type: none;margin-top:10px;margin-left:-14px;}
.main>#content>ul>li{text-align:center;position: relative;float: left;width: 296px;height: 374px;padding: 45px 0 0;border-top: 1px solid #e0e0e0;margin-left: 14px;margin-bottom: 14px;background: #fff;}
.main>#content>ul>li>h2{margin: 0 10px 18px;font-size: 16px;font-weight: 400;text-align: center;}
.main>#content>ul>li>.container{height: 340px;overflow: hidden;}
.main>#content>ul>li>.container>ul{height: 340px;margin: 0;padding: 0;color: #333;width: 888px;margin-left: 0px;}
.main>#content>ul>li>.container>ul>li{float: left;width: 296px;height: 340px;}
.main>#content>ul>li>.container>ul>li>h3{margin: 0 20px 5px;font-size: 20px;font-weight: 400;line-height: 1.25;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.main>#content>ul>li>.container>ul>li>h3>a{font-size: 20px;font-weight: 400;line-height: 1.25;color:#333;}
.main>#content>ul>li>.container>ul>li>.des{margin: 0 48px 10px;height: 40px;font-size: 12px;line-height: 20px;text-align: center;overflow: hidden;}
.main>#content>ul>li>.container>ul>li>.des>a{font-size: 12px;line-height: 20px;text-align: center;color:#b0b0b0;}
.main>#content>ul>li>.container>ul>li>.price{height: 21px;margin: 0 10px 15px;text-align: center;}
.main>#content>ul>li>.container>ul>li>.price>a{color: #333;}
.main>#content>ul>li>.container>ul>li>.figure{width: 216px;height: 154px;margin: 0 auto;}
.main>#content>ul>li>.container>ul>li>.figure>a{display: block;height: 154px;color: #757575;text-decoration: none;}
.main>#content>ul>li>.container>ul>li>.figure>a>img{width: 216px;height: 154px;}
.main>#content>ul>li>.leftBtn{cursor:pointer;color:#fff;font-weight:bold;width: 20px;height: 24px;padding: 12px 0;font-size: 18px;display: inline-block;line-height: 24px;position: absolute;top: 50%;margin-top: -20px;opacity: 1;left:0;}
.main>#content>ul>li>.rightBtn{cursor:pointer;color:#fff;font-weight:bold;width: 20px;height: 24px;padding: 12px 0;font-size: 18px;display: inline-block;line-height: 24px;position: absolute;top: 50%;margin-top: -20px;opacity: 1;right:0;}
.main>#content>ul>li:hover>span{background-color: rgba(66,66,66,0.2);transition:all 0.25s linear;}
.main>#content>ul>li>span:hover{background-color: rgba(66,66,66,0.8);transition:all 0.25s linear;}
.main>#content>ul>li>.dot{position: absolute;bottom: 15px;left: 0;width: 296px;text-align: center;}
.main>#content>ul>li>.dot>li{display: inline-block;width: 10px;height: 10px;padding: 10px;margin: 0 2px;cursor: pointer;}
.main>#content>ul>li>.dot>li>span{border-color: #fff;    display: block;width: 6px;height: 6px;border: 2px solid #f5f5f5;border-radius: 6px;text-align: left;text-indent: -9999em;overflow: hidden;background-color: #b0b0b0;}
.main>#content>ul>li>.dot>li.active>span{cursor: default;background:#fff;border-color:#ff6700;}
.main>#content>ul>li>.dot>li>span:hover{background-color: #ff6700;transition:all 0.25s linear;}
.main>#content>ul>li.box1{border-top: 1px solid #ffac13;}
.main>#content>ul>li.box1>h2{color:#ffac13;}
.main>#content>ul>li.box2{border-top: 1px solid #83c44e;}
.main>#content>ul>li.box2>h2{color:#83c44e;}
.main>#content>ul>li.box3{border-top: 1px solid #e53935;}
.main>#content>ul>li.box3>h2{color:#e53935;}
.main>#content>ul>li.box4{border-top: 1px solid #2196f3;}
.main>#content>ul>li.box4>h2{color:#2196f3;}

.main>#video>ul{width: 1240px;height: 320px;margin: 0;padding: 0;margin-left:-14px;margin-top:10px;}
.main>#video>ul>li{position: relative;float: left;width: 296px;height: 285px;margin-left: 14px;margin-bottom: 14px;text-align: center;background: #fff;}
.main>#video>ul>li>.figure{position: relative;width: 296px;height: 180px;margin: 0 0 28px;}
.main>#video>ul>li>.figure>a{display: block;height: 180px;color: #757575;text-decoration: none;}
.main>#video>ul>li>.figure>a>img{width: 296px;height: 180px;}
.main>#video>ul>li>.figure>a>span{position: absolute;left: 20px;bottom: 10px;width: 32px;height: 20px;border: 2px solid #fff;border-radius: 12px;background-color: #424242;background-color: rgba(0,0,0,0.6);color: #fff;overflow: hidden;}
.main>#video>ul>li:hover>.figure>a>span{border: 2px solid #ff6700;background-color: #ff6700;transition: all .25s linear;}
.main>#video>ul>li>.title{margin: 0 0 6px;font-size: 14px;font-weight: 400;text-align: center;color: #333;}
.main>#video>ul>li>.title>a{color: #333;}
.main>#video>ul>li>.title>a:hover{color:#ff6700;transition:all .5s linear;}
.main>#video>ul>li>.des{height: 18px;margin: 0;font-size: 12px;color: #b0b0b0;}
/* 靠近页脚一条服务：1小时快修…… */
.service{height:80px;border-bottom:1px solid #bebebe;text-align:center;width:1226px;margin:0 auto;}
.service>ul>li{float:left;height:80px;line-height:80px;}
.service>ul>li>a{padding:5px 57px 5px 57px;border-right:1px solid #b5c4ec;font-size:16px;color:#9d9d9d;}
.service>ul>li>a:hover{color: #ff6700;}
.service>ul>li:first-of-type>a{padding-left:123px;}
.service>ul>li:last-of-type>a{border-right:0;}

/* 页脚链接 */
.link{height:210px;padding:51px 0 0 0px;box-sizing: border-box;width:1226px;margin:0 auto;}
.link>ul{float:left;margin-right:102px;}
.link>ul>li{line-height:30px;}
.link>ul>li>a{color: #757575;}
.link>ul>li>a:hover{color: #ff6700;}
.link>ul>li:first-of-type{line-height:14px;margin-bottom:24px;}
.link>ul>li:first-of-type>a{color:#000;font-size:14px;}
.link>div{float:right;text-align:center;height:120px;box-sizing: border-box;padding:0 60px 0 60px;border-left:1px solid #bebebe;}
.link>div>h2{color:#ff6700;font-weight:normal;font-size:22px;line-height:16px;margin:4px 0 12px 0;}
.link>div>p{line-height:20px;color:#616161;}
.link>div>a{display: inline-block;margin-top:13px;width:122px;height:32px;line-height:32px;box-sizing: border-box;border:1px solid #ff6700;color:#ff6700;}
.link>div>a:hover{background:#ff6700;color:#fff;transition:all 0.25s linear;}

/* 页脚 */
footer{height:79px;background:#fafafa;}
footer>div{width:1226px;margin:0 auto;}
footer>div>a{float:left;margin:15px 10px 0 0;  width: 55px;height: 55px;overflow: hidden;background: #ff6700 url(../image/header&footer/mi-logo.png) 3px 4px no-repeat;}
footer>div>div{float:left;margin-top:15px;}
footer>div>div>ul{height:12px;}
footer>div>div>ul>li{float:left;padding:0 3px 0 3px;border-right:1px solid #b0b0b0;}
footer>div>div>ul>li>a{color:#757575;}
footer>div>div>ul>li:first-of-type{padding-left:0;}
footer>div>div>ul>li:last-of-type{border-right:0;}
footer>div>div>p{color: #b0b0b0;width:1159px;height:72px;font-size:12px;line-height: 18px;;margin-top:6px;}
footer>div>div>.info-links{height: 28px;margin: 4px 0 0;}
footer>div>div>.info-links img{width: auto;height: 28px;margin-left: 0px;margin-bottom: 15px;}
footer>img{display: block;margin:0 auto;}

.closeBtn{background:red;width: 100px;height:100px;position: absolute;left:0;right:0;}