.common{
	width: 1310px;
	margin: 0 auto;
}
i{
	font-style: normal;
}
#header-nav{
	height: 52px;
	border: 1px solid #e0e0e0;
}
#header-nav>span{
	font-size: 12px;
	margin-left: 184px;
	color: #212121;
	line-height: 52px;
	border-right: 1px solid #822182;
	height: 11px;
	padding-right: 9px;
}
#header-nav>p{
	display: inline-block;
}
#header-nav>p>a{
	display: inline-block;
	border-right: 1px solid #822182;
	color: #616161;
	padding: 0 7px;
}
#header-nav>p>a:hover{
	color: #ff6700;
}
#header-nav>p>a:last-of-type{
	border: 0;
}
#header-nav>ul{
	float: right;
	margin-right: 200px;
}
#header-nav>ul>li{
	float: left;
	line-height: 54px;
}
#header-nav>ul>li>a{
	color: #616161;
	padding:0 8px;
	border-right: 2px solid #ebe4e0;
}
#header-nav>ul>input{
	float: right;
	width: 120px;
	height: 30px;
	background-color: #ff6700;
	color: #FFFFFF;
	text-align: center;
	border: none;
	margin-top: 10px;
}
#header-nav>ul>li:last-of-type>a{
	border:0;
}
#header-nav>ul>li>a:hover{
	color: #ff6700;
}




#header-nav-1{
	display: none;
	width: 1310px;
	height: 63px;
	margin: 0 auto;
	border: 1px solid #e0e0e0;
	position: fixed;
	top:0;
	left:50%;
	transform:translateX(-50%);
	background: #FFFFFF;
	z-index: 99;
}
#header-nav-1>span{
	font-size: 12px;
	margin-left: 184px;
	color: #212121;
	line-height: 52px;
	border-right: 1px solid #822182;
	height: 11px;
	padding-right: 9px;
}
#header-nav-1>p{
	display: inline-block;
}
#header-nav-1>p>a{
	display: inline-block;
	border-right: 1px solid #822182;
	color: #616161;
	padding: 0 7px;
}
#header-nav-1>p>a:hover{
	color: #ff6700;
}
#header-nav-1>p>a:last-of-type{
	border: 0;
}
#header-nav-1>ul{
	float: right;
	margin-right: 200px;
}
#header-nav-1>ul>li{
	float: left;
	line-height: 54px;
}
#header-nav-1>ul>li>a{
	color: #616161;
	padding:0 8px;
	border-right: 2px solid #ebe4e0;
}
#header-nav-1>ul>input{
	float: right;
	width: 120px;
	height: 30px;
	background-color: #ff6700;
	color: #FFFFFF;
	text-align: center;
	border: none;
	margin-top: 10px;
}
#header-nav-1>ul>li:last-of-type>a{
	border:0;
}
#header-nav-1>ul>li>a:hover{
	color: #ff6700;
}
#banner{
	height: 755px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-index.jpg?v2)  50% 0 no-repeat;
	background-size: 1900px;
}
#banner>h1{
	font-size: 42px;
	color: #FFFFFF;
	padding-top:156px;
	margin-left: 256px;
	font-weight: normal;
}
#banner>p{
	font-size: 22px;
	color: #ffffff;
	line-height: 47px;
	margin-left: 256px;
	margin-top: 24px;
	animation: style 1s forwards;
}
@keyframes style{
	0%{
		transform: translateY(100px);
		opacity: 0;
		display: none;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
.animation{
	display: block;
	animation: style 1s forwards;
}
.animation-1{
	display: block;
	animation: style 1.5s forwards;
}
#banner>span{
	font-size: 24px;
	color: #FFFFFF;
	display: inline-block;
	margin-left: 256px;
	margin-top: 56px;
	animation: style 1s forwards;
}
#banner>span>i{
	color: #FFFFFF;
	font-size: 12px;
}
#configuration{
	height: 456px;
}
#configuration>.con{
	width: 650px;
	height: 258px;
	margin: 0 auto;
	padding-top: 88px;
	opacity: 0;
}
#configuration>.con>.con-1{
	width: 88px;
	height: 92px;
	float: left;
	margin-right: 192px;
}
#configuration>.con>.con-1>i{
	width: 60px;
	height: 40px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-per-icon.png) no-repeat;
	background-size:60px ;
	display: inline-block;
	margin-left: 12px;
}
#configuration>.con>.con-1>span{
	display: inline-block;
	text-align: center;
	color: #616161;
	margin-top: 18px;
}



#configuration>.con>.con-2{
	width: 88px;
	height: 92px;
	float: left;
	margin-right: 192px;
}
#configuration>.con>.con-2>i{
	width: 60px;
	height: 40px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-per-icon.png) -10px -46px no-repeat;
	background-size:60px ;
	display: inline-block;
	margin-left: 16px;
}
#configuration>.con>.con-2>span{
	display: inline-block;
	text-align: center;
	color: #616161;
	margin-top: 18px;
}


#configuration>.con>.con-3{
	width: 88px;
	height: 92px;
	float: left;
}
#configuration>.con>.con-3>i{
	width: 60px;
	height: 40px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-per-icon.png) -12px -90px no-repeat;
	background-size:60px ;
	display: inline-block;
	margin-left: 26px;
}
#configuration>.con>.con-3>span{
	display: inline-block;
	text-align: center;
	color: #616161;
	margin-top: 18px;
}




#configuration>.con>.con-4{
	width: 88px;
	height: 92px;
	float: left;
	margin-left: 14px;
	margin-top: 68px;
}
#configuration>.con>.con-4>i{
	width: 71px;
	height: 52px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-per-icon.png) -12px -152px no-repeat;
	background-size:71px ;
	display: inline-block;
	margin-left: 2px;
}
#configuration>.con>.con-4>span{
	display: inline-block;
	text-align: center;
	color: #616161;
	margin-top: 18px;
}



#configuration>.con>.con-5{
	width: 88px;
	height: 92px;
	float: left;
	margin-left: 186px;
	margin-top: 56px;
}
#configuration>.con>.con-5>i{
	width: 61px;
	height: 61px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-per-icon.png) -11px -202px no-repeat;
	background-size:71px ;
	display: inline-block;
	margin-left: 2px;
}
#configuration>.con>.con-5>span{
	display: inline-block;
	text-align: center;
	color: #616161;
	margin-top: 18px;
}

#configuration>.con>.con-6{
	width: 88px;
	height: 92px;
	float: left;
	margin-left: 186px;
	margin-top: 78px;
}
#configuration>.con>.con-6>i{
	width: 78px;
	height: 34px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-per-icon.png) -4px -262px no-repeat;
	background-size:71px ;
	display: inline-block;
	margin-left: 2px;
}
#configuration>.con>.con-6>span{
	display: inline-block;
	text-align: center;
	color: #616161;
	margin-top: 18px;
}
#bookxie{
	height: 703px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-bianjie.jpg)  50% 0 no-repeat;
	background-size: 1900px;
}
#bookxie>h1{
	font-size: 28px;
	color: #FFFFFF;
	padding-top: 181px;
	margin-left: 764px;
	font-weight: normal;
	opacity: 0;
}
#bookxie>span{
	font-size: 12px;
	color: #FFFFFF;
	line-height: 22px;
	display: inline-block;
	margin-top: 17px;
	margin-left: 764px;
	opacity: 0;
}
#bookxie>h2{
	font-size: 22px;
	color: #FFFFFF;
	font-weight: normal;
	line-height: 40px;
	margin-left: 764px;
	margin-top: 40px;
	opacity: 0;
}
#appearance{
	height: 1080px;
}
#appearance>.title-1{
	margin-left: 752px;
	padding-top: 124px;
	opacity: 0;
}
#appearance>.title-1>h1{
	font-size: 26px;
	font-weight: normal;
}
#appearance>.title-1>span{
	font-size: 12px;
	line-height: 21px;
	margin-top: 21px;
	display: inline-block;
}
#appearance>.appearancebg{
	height: 504px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-jishen.jpg) no-repeat;
	background-size: 821px;
	margin-left: 274px;
}
#appearance>.title-2{
	margin-left: 248px;
	/*padding-top: 124px;*/
	opacity: 0;
}
#appearance>.title-2>h1{
	font-size: 26px;
	font-weight: normal;
}
#appearance>.title-2>span{
	font-size: 12px;
	line-height: 21px;
	margin-top: 21px;
	display: inline-block;
}
#cpu{
	height: 864px;
	background: #f5f5f5;
}
#cpu>h1{
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 6px;
	color: #424242;
	padding-top: 88px;
	text-align: center;
	opacity: 0;
}
#cpu>span{
	font-size: 12px;
	color: #424242;
	display: inline-block;
	line-height: 24px;
	margin-top: 20px;
	text-align: center;
	margin-left: 388px;
	opacity: 0;
}
#cpu>.cpubg{
	width: 867px;
	height: 496px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-etc.jpg) no-repeat;
	background-size: 867px;
	margin: 0 auto;
	margin-top: 62px;
}
#memory{
	height: 264px;
	margin-top: 9px;
}
#memory>.left{
	width: 655px;
	height: 274px;
	background: #f5f5f5;
	float: left;
}
#memory>.left>h1{
	font-size: 26px;
	font-weight: normal;
	margin-left: 275px;
	padding-top:74px ;
	opacity: 0;
}
#memory>.left>span{
	font-size: 12px;
	color: #333333;
	line-height: 21px;
	display: inline-block;
	margin-left: 246px;
	margin-top: 19px;
	opacity: 0;
}
#memory>.right{
	width: 655px;
	height: 274px;
	background: #f5f5f5;
	float: right;
}
#memory>.right>h1{
	font-size: 26px;
	font-weight: normal;
	margin-left: 118px;
	padding-top:74px ;
	opacity: 0;
}
#memory>.right>span{
	font-size: 12px;
	color: #333333;
	line-height: 21px;
	display: inline-block;
	margin-left: 54px;
	margin-top: 19px;
	opacity: 0;
}
#life{
	height: 750px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-xuhang.jpg) 350px 46px no-repeat;
	background-size: 717px;
}
#life>p{
	font-size: 14px;
	color: #999999;
	padding-top: 230px;
	display: inline-block;
	margin-left: 241px;
}
#life>h1{
	font-size: 26px;
	font-weight: normal;
	margin-left: 241px;
	margin-top: 23px;
	opacity: 0;
}
#life>span{
	font-size: 12px;
	line-height: 21px;
	display: inline-block; 
	margin-left: 241px;
	margin-top: 21px;
	opacity: 0;
}
#screen{
	height: 1134px;
	background: #f5f5f5;
	/*background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-screen.jpg) no-repeat;*/
}
#screen>.screen-1>p{
	font-size: 14px;
	color: #a4a4a4;
	text-align: center;
	padding-top: 93px;
	letter-spacing: 3px;
}
#screen>.screen-1>h1{
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	color: #424242;
	margin-top: 22px;
	letter-spacing: 5px;
	opacity: 0;
}
#screen>.screen-1>span{
	font-size: 12px;
	color: #424242;
	display: inline-block;
	text-align: center;
	line-height: 24px;
	margin-top: 19px;
	margin-left: 430px;
	opacity: 0;
}
#screen>.screen-1>i{
	font-size: 20px;
	color: #b0b0b0;
	text-align: center;
	display: inline-block;
	margin-left:612px ;
	margin-top: 40px;
}
#screen>.screen-1>em{
	font-size: 12px;
	color: #616161;
	display: inline-block;
	margin-top: 17px;
	margin-left: 632px;
	opacity: 0;
}
#screen>.screenbg{
	width: 982px;
	height: 506px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-screen.jpg) no-repeat;
	background-size: 982px;
	margin-left: 194px;
}
#screen>.ness{
	float: left;
	margin-left: 341px;
	margin-top: 41px;
}
#screen>.ness>i{
	display: inline-block;
	width: 63px;
	height: 43px;
	background: url(http://c1.mifile.cn/f/i/16/mibookair/summary/summary-screen-icon.png);
}
#screen>.ness>p{
	font-size:12px ;
	margin-top: 24px;
	color: #616161;
}
#screen>.ness>span{
	font-size: 12px;
	color: #424242;
	display: inline-block;
	line-height: 24px;
	margin-top: 12px;
}


#screen>.screenbg{
	width: 982px;
	height: 506px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-screen.jpg) no-repeat;
	background-size: 982px;
	margin-left: 194px;
}
#screen>.frame{
	float: right;
	margin-right: 262px;
	margin-top: 41px;
}
#screen>.frame>i{
	display: inline-block;
	width: 63px;
	height: 43px;
	background: url(http://c1.mifile.cn/f/i/16/mibookair/summary/summary-screen-icon.png) -96px no-repeat;
}
#screen>.frame>p{
	font-size:12px ;
	margin-top: 24px;
	color: #616161;
}
#screen>.frame>span{
	font-size: 12px;
	color: #424242;
	display: inline-block;
	line-height: 24px;
	margin-top: 12px;
}
#speaker{
	height: 776px;
}
#speaker>.speakerbg{
	width: 855px;
	height: 342px;
	background: url(http://c1.mifile.cn/f/i/16/mibookair/summary/summary-sound-pic1.png);
	background-size:855px ;
	margin:  0 auto;
}
#speaker>p{
	font-size: 14px;
	color: #b2b2b2;
	text-align: center;
	margin-top: 74px;
}
#speaker>h1{
	font-size: 28px;
	font-weight: normal;
	margin-top: 20px;
	letter-spacing: 5px;
	text-align: center;
	color: #424242;
	opacity: 0;
}
#speaker>span{
	font-size: 12px;
	color: #424242;
	line-height: 24px;
	text-align: center;
	margin-left: 430px;
	display: inline-block;
	margin-top: 19px;
	opacity: 0;
}
#speaker>.speaker-1{
	width: 325px;
	height: 57px;
	background: url(http://c1.mifile.cn/f/i/16/mibookair/summary/summary-sound-icon.jpg) no-repeat;
	background-size: 325px;
	margin: 0 auto;
	margin-top: 42px;
}
#unlock>.unlockbg{
	/*width: 1366px;*/
	height: 674px;
	background: url(http://c1.mifile.cn/f/i/16/mibookair/summary/summary-pwd.jpg) 50% 0 no-repeat;
	background-size: 1920px;
}
#unlock>.unlockbg>p{
	font-size: 14px;
	padding-top: 92px;
	margin-left: 784px;
	color: #FFFFFF;
}
#unlock>.unlockbg>h1{
	font-size: 28px;
	color: #FFFFFF;
	margin-top: 23px;
	margin-left: 784px;
	font-weight: normal;
	opacity: 0;
}
#unlock>.unlockbg>span{
	display: inline-block;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 24px;
	margin-top: 26px;
	margin-left: 784px;
	opacity: 0;
}
#interface{
	height: 940px;
	background: url(http://c1.mifile.cn/f/i/16/mibookair/summary/interface2.jpg)  50% 0 no-repeat;
	background-size: 1900px;
}
#interface>h1{
	font-size: 28px;
	letter-spacing: 6px;
	line-height: 44px;
	text-align: center;
	font-weight: normal;
	padding-top: 86px;
	color: #424242;
	opacity: 0;
}
#interface>span{
	display: inline-block;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	margin-top: 16px;
	margin-left: 402px;
	color: #000000;
	opacity: 0;
}
#adapter{
	height: 452px;
}
#adapter .left{
	float: left;
}
#adapter .left>h1{
	font-size: 28px;
	line-height: 42px;
	color: #333333;
	margin-left: 242px;
	padding-top: 110px;
	font-weight: normal;
	opacity: 0;
}
#adapter .left>span{
	display: inline-block;
	line-height: 22px;
	margin-left: 242px;
	margin-top: 20px;
	color: #333333;
	opacity: 0;
}
#adapter .left>p{
	font-size: 12px;
	color: #333333;
	margin-left: 242px;
	margin-top: 64px;
	opacity: 0;
}
#adapter .right{
	height: 177px;
	width: 508px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/summary-shipeiqi.jpg);
	background-size: 508px;
	float: right;
	margin-right: 220px;
	margin-top: 110px;
}
#network{
	height: 594px;
	background: url(http://c1.mifile.cn/f/i/17/mibookair12/index-4g.jpg) 50% 0 no-repeat;
	background-size: 2050px;
}
#version{
	height: 806px;
	background: #eeeeee;
}
#version>h1{
	font-size: 28px;
	color: #424242;
	line-height: 43px;
	text-align: center;
	font-weight: normal;
	padding-top: 86px;
	opacity: 0;
}
#version>.version-1{
	width: 288px;
	height: 473px;
	background: #FFFFFF;
	float: left;
	margin-left: 236px;
	margin-top: 61px;
}
#version>.version-1>span{
	font-size: 14px;
	color: #333333;
	margin-left: 54px;
	padding-top: 74px;
	display: inline-block;
	line-height: 32px;
}
#version>.version-1>i{
	display: inline-block;
	color: #999999;
	line-height: 21px;
	margin-left: 54px;
	margin-top: 10px;
}
#version>.version-1>em{
	font-size: 12px;
	color: #333333;
	margin-left: 54px;
	margin-top: 56px;
	display: inline-block;
}
#version>.version-1>a{
	width: 130px;
	height: 34px;
	display: inline-block;
	border: 1px solid #ff6700;
	background: #FFFFFF;
	color: #ff6700;
	text-align: center;
	line-height: 30px;
	margin-left: 79px;
	margin-top: 42px;
}
#version>.version-1>a:hover{
	background: #ff6700;
	color: #FFFFFF;
}





#version>.version-2{
	width: 288px;
	height: 473px;
	background: #FFFFFF;
	float: left;
	margin-left: 14px;
	margin-top: 61px;
}
#version>.version-2>span{
	font-size: 14px;
	color: #333333;
	margin-left: 54px;
	padding-top: 74px;
	display: inline-block;
	line-height: 32px;
}
#version>.version-2>i{
	display: inline-block;
	color: #999999;
	line-height: 21px;
	margin-left: 54px;
	margin-top: 10px;
}
#version>.version-2>em{
	font-size: 12px;
	color: #333333;
	margin-left: 54px;
	margin-top: 32px;
	display: inline-block;
}
#version>.version-2>a{
	width: 130px;
	height: 34px;
	display: inline-block;
	border: 1px solid #ff6700;
	background: #FFFFFF;
	color: #ff6700;
	text-align: center;
	line-height: 30px;
	margin-left: 79px;
	margin-top: 42px;
}
#version>.version-2>a:hover{
	background: #ff6700;
	color: #FFFFFF;
}


#version>.version-3{
	width: 288px;
	height: 473px;
	background: #FFFFFF;
	float: left;
	margin-left: 14px;
	margin-top: 61px;
}
#version>.version-3>span{
	font-size: 14px;
	color: #333333;
	margin-left: 54px;
	padding-top: 74px;
	display: inline-block;
	line-height: 32px;
}
#version>.version-3>i{
	display: inline-block;
	color: #999999;
	line-height: 21px;
	margin-left: 54px;
	margin-top: 10px;
}
#version>.version-3>em{
	font-size: 12px;
	color: #333333;
	margin-left: 54px;
	margin-top: 50px;
	display: inline-block;
}
#version>.version-3>a{
	width: 130px;
	height: 34px;
	display: inline-block;
	border: 1px solid #ff6700;
	background: #FFFFFF;
	color: #ff6700;
	text-align: center;
	line-height: 30px;
	margin-left: 79px;
	margin-top: 42px;
}
#version>.version-3>a:hover{
	background: #ff6700;
	color: #FFFFFF;
}
#sale{
	height: 246px;
}
#sale>img{
	height: 246px;
	width: 1310px;
}
#statement{
	height: 214px;
	background: #fafafa;
}
#statement>span{
	font-size: 12px;
	color: #cccccc;
	display: inline-block;
	/*text-align: center;*/
	margin-left: 242px;
	padding-top:54px ;
}
#high{
	height: 398px;
	background: url(http://c1.mifile.cn/f/i/16/mibookair/summary//footer.jpg) 50% 0 no-repeat;
	background-size: 2000px;
}
#high>h1{
	font-size: 22px;
	font-weight: normal;
	margin-left: 292px;
	padding-top: 150px;
	line-height: 38px;
}
#high>a{
	font-size: 12px;
	color: #07abf7;
	margin-top: 19px;
	margin-left: 292px;
	display: inline-block;
}
