body{
    margin:0;
    font-family: 微软雅黑;
    padding: 0 19px;
}
body {
    font-size: 14px;
    font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif;
}
a,a:link,a:visited,a:focus,a:active{
    text-decoration: none;
    color: inherit;
}
p{
    margin:0;
    

}
body>a{
    width: 68px;
    height: 68px;
    position: absolute;
    right: 0;
    top: 0;
}
body>a>img{
    width: 100%;
    height: 100%;
}
header{
    height: 160px;
    padding-top: 50px;
    box-sizing: border-box;
}
header>div{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
header>div>img{
    width: 100%;
    height: 100%;
}
header>p{
    text-align: center;
    font-size: 19px;
    margin-top: 23px;
}

/***********************footer******************************/
footer{
    margin-top: 100px;
    font-size: 14px;
    color: #757575;
}
footer>section:nth-of-type(1){
    width: 243px;
    margin:0 auto;
    display: flex;
    justify-content:space-between; 
}
footer>section:nth-of-type(1)>a:nth-of-type(1){
    color: #333;
}
footer>section:nth-of-type(2){
    text-align: center;
    margin-top: 13px;
}

.regbox {
    margin: 0 auto;
    width: 332px;
    padding: 30px 0;
    line-height: 20px;
}
.regbox .tit_normal {
    margin:0;
    height:20px;
    padding-bottom: 5px;
    color: #333;
    font-weight: normal;
}
.tits {
    height: 40px;
    padding-left: 14px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e8e8e8;
    color: #555;
    cursor: pointer;
}
.icon_cirarr {
    float: right;
    background: url(https://account.xiaomi.com/static/res/0eeaaed/passport/oautah/images/icon_user.png);
    width: 16px;
    height: 16px;
    margin: 11px 12px 0 12px;
}
.display_box{width: 274px;}
.select{float: right;margin-top: 1px;}
.select>img{vertical-align: top;}
.reg-select-regions{border:1px solid rgb(232,232,232);}
.region_tip_text {
    margin-top: -10px;
    margin-bottom: 15px;
}
.listwrap {
    padding-bottom: 15px;
    position: relative;
}
.country-container-panel {
    width: 100%;
    background: #fff;
    height: 270px;
    line-height: 30px;
    border: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 41px;
    z-index: 98;
}
.country-container-panel li{
    list-style: none;
}
.search-code-input {
    width: 274px;
    height: 22px;
    line-height: 22px;
    padding: 5px 10px 5px 10px;
    display: block;
    border: 1px solid #e0e0e0;
}
.search-code {
    padding: 10px;
}
.country-container-panel .header, .country-container-panel h6 {
    background: #fcdecc;
    padding-left: 10px;
    margin-bottom: 6px;
    line-height: 30px;
    color: #ef5b00 !important;
}
.list{padding-left: 10px;}
.arrow{float: right;width: }
.inputbg{float: right;}
.btn_reg_1:hover {
    background: #ff936a;
}
.btn_reg_1 {
    width: 328px;
    height: 40px;
    margin: 15px 3px 0 3px;
    background-color: #ff6700;
    margin-top: 15px;
    border: 1px solid rgba(186,186,186,0.3);
    color: #fff;
}
.privacy_box {
    text-align: center;
    padding-top: 40px;
}
.n_checked {
    padding: 10px 0;
    cursor: pointer;
    display: inline-block;
}
.msg a {
    color: #333;
}
.ftbold, .msg em, .msg a {
    font-weight: bold;
}
.msg {
    color: #9d9d9d;
}
.icon_select {
    background: url(../image/click.png) no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -4px;
    _margin-top: 0;
    display: inline-block;
    vertical-align: middle;   
}
.none{display: none;}
.list>.record:hover{background:#ccc;cursor:pointer;}