.common{width: 1226px;margin: 0 auto;}
body{ background: #f5f5f5;}
#searchBar{background: #fff;}

/*首页/帮助*/
#index>div{height: 40px;/*background: pink;*/}
#index>div>p{float: left;color: #b0bfd4;line-height: 40px;}
#index>div>p>a{color: #757575;}
#index>div>p>a:hover{color: #424242;}

/*轮播图部分*/
#banner>div{width: 1226px;height: 250px;position: relative;overflow: hidden;}
#banner>div>div{width: 4904px;height: 250px;}
#banner>div>div>a{float: left;}

#banner>div>p{position: absolute;bottom: 10px; left: 50%;transform: translateX(-50%);}
#banner>div>p>span{float: left; width:10px ;height: 10px;border: 2px solid #9977b6;margin-right: 10px;background: #6f4399;cursor: pointer;border-radius: 50%;}
#banner>div>p>span.active{background: #d5aafe;border: 2px solid #83689f;}

/*自助服务+产品支持+服务中心+常见问题+联系客服（标题）*/
#self-service>div{height: 136px;text-align: center;/*background: yellow;*/}
#self-service>div>h1,#product-support>div>h1,#service-centre>div>h1,#common-problem>div>h1,#contact>div>h1{color: #666;font-size: 28px;line-height: 164px;font-weight: normal;}

/*自助服务列表*/
#list>div{height: 590px;}
#list>div>dl{width: 296px;height: 277px;background: #fff;float: left;overflow: hidden;margin-right: 14px;margin-bottom: 18px;transition: all 0.5s linear;}
#list>div>dl:hover,#support>div>dl:hover,#tel>div>.tel1>a:hover,#tel>div>.tel2>.t1:hover{transform: translateY(-10px);box-shadow: 0 5px 5px  #ccc;transition: all 0.5s linear;}

#list>div>dl:nth-of-type(4),#list>div>dl:nth-of-type(8){margin-right: 0;}
#list>div>dl>dt{margin: -13px 0 0 -10px;}
#list>div>dl>dd>a>img{margin: 0 0 0 115px;}
#list>div>dl>dd:nth-of-type(2),#list>div>dl>dd:nth-of-type(3){text-align: center;}
#list>div>dl>dd:nth-of-type(2)>a{font-size: 18px;font-weight: bold;color: #272727;height: 18px;line-height: 18px;margin: 20px 0 15px 0;display: inline-block;}
#list>div>dl>dd:nth-of-type(3)>a{font-size: 12px;color: #757575;height: 12px;line-height: 12px;}
#list>div>dl:hover>dd>a{color: #ff9a55;}

#product-support>div>h1,#service-centre>div>h1,#common-problem>div>h1,#contact>div>h1{height: 136px;text-align: center;/*background: yellow;*/}

/*产品支持*/
#support>div{height: 610px;}
#support>div>dl{width: 296px;height: 287px;background: #fff;float: left;margin-right: 14px;margin-bottom: 18px;text-align: center;transition: all 0.5s linear;}
#support>div>dl:nth-of-type(4),#support>div>dl:nth-of-type(8){margin-right: 0;}
#support>div>dl>dt{margin-top: 45px;}
#support>div>dl>dt>a>img{margin-top:45px;}
#support>div>dl>dd>a{color: #666666;font-size: 14px;height: 14px; line-height: 14px;margin-top: 5px;}
#support>div>dl>dd>a:hover{color:#ff9a55 ;}

/*服务中心列表*/
#after-sale-network>div{height: 360px;/*background: cyan;*/}
#after-sale-network>div>img{width: 614px;height: 360px;float: left;}
#after-sale-network>div>div{float: left;background: #fff;height: 360px;}
#after-sale-network>div>div>h2{font-size: 18px;color: #000027;font-weight: normal;text-align: center;height: 18px;line-height: 18px;margin: 70px 0 26px 0;}
#after-sale-network>div>div>p{font-size: 15px;color: #676767;text-indent: 30px;height: 15px;line-height: 15px;}
#after-sale-network>div>div>div{height: 155px;padding-top: 42px;box-sizing: border-box; /*background: burlywood;*/}
#after-sale-network>div>div>div>dl{text-align: center;float: left;margin-right: 40px;}
#after-sale-network>div>div>div>dl:first-of-type{margin-left: 75px;}
#after-sale-network>div>div>div>dl>dd{color: #848484;height: 12px;line-height: 12px;margin-top: 10px;}
#after-sale-network>div>div>h1{text-align: center;}
#after-sale-network>div>div>h1>a{font-size: 16px;color: #b0b0b0;font-weight: normal;}
#after-sale-network>div>div>h1>a:hover{color: #ff9a55;}

/*常见问题*/
#search>div{text-align: center;}
#search>div>form>input{width: 646px;height: 50px;background: #fff;border: 0;outline: none;text-indent: 27px;}
#search>div>form>input::-webkit-input-placeholder{color: #d9d9d9;}

/*tab切换*/
#tab>div{height: 257px;background: #fff;margin-top: 50px;}
#tab>div>ul{height: 217px;position: relative;}
#tab>div>ul>li>span{float: left; width: 175px;height: 67px;font-size: 16px;line-height: 67px;text-align: center;color: #333333;}
#tab>div>ul>li>.actives{background: #ff6600;color: #fff;}

#tab>div>ul>li>.box{height: 150px;width: 1226px;border-top: 1px solid #f5f5f5;/*overflow: hidden;*/position: absolute;left: 0;top: 67px;display: none; /*background: pink;*/}
#tab>div>ul>li:first-of-type>.box{display: block;}
/*#tab>div>ul>li>.box>ul{height: 150px;background: pink;}*/
#tab>div>ul>li>.box>ul>li{float: left; list-style: disc;list-style-position: inside;color: #e2e2e2;width: 613px;height: 50px;text-indent: 55px; line-height: 50px;/* background: deepskyblue;*/}
#tab>div>ul>li>.box>ul>li>a{font-size: 16px;color: #212121;}
#tab>div>ul>li>.box>ul>li:hover{color: #f60;}
#tab>div>ul>li>.box>ul>li>a:hover{color: #f60;}

#tab>div>a{float: left;height: 40px; font-size: 12px;color: #777777;line-height: 40px;text-indent: 575px;}
#tab>div>a:hover{color: #f60;}

/*联系客服*/
#tel>div>.tel1{text-align: center;}
#tel>div>.tel1>a{float: left;width: 400px;height: 276px;line-height:276px ;background: #fff;margin-right:12px;margin-bottom: 17px;transition: all 0.5s linear;}
#tel>div>.tel1>a:hover{transition: all 0.5s linear;}
#tel>div>.tel2>.t1{float: left;width: 400px;height: 276px;background: #fff;margin-right:12px;margin-bottom: 17px;transition: all 0.5s linear;}
#tel>div>.tel1>a>span{display: inline-block;font-size: 17px;color: #212121;margin-left: 21px;}
#tel>div>.tel1>a>span:hover{font-weight: bold;}
#tel>div>.tel1>a:nth-of-type(3),#tel>div>.tel2>div:nth-of-type(3){margin-right: 0;}

#tel>div>.tel2>.t1>a{float: left;}
#tel>div>.tel2>.t1>a:first-of-type>img{float: left;margin:117px 20px 0 109px;}
#tel>div>.tel2>.t1>a:nth-of-type(2){font-size: 18px;color: #212121;display: inline-block;margin-top: 115px;}
#tel>div>.tel2>.t1>a:nth-of-type(3){font-size: 18px;color: #212121;margin-top: 11px;}
#tel>div>.tel2>.t1>a:nth-of-type(4){color: #777777;text-indent: 50px;margin-top: 71px;}
#tel>div>.tel2>.t1{margin-bottom: 100px;}

